:root {
  --primary-color: #6c63ff;
  --secondary-color: #f8f9fa;
  --font-heading: "Playfair Display", serif;
  --font-text: "Poppins", sans-serif;
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(--font-heading);
  margin: 0;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

p {
  margin: 0px;
}

p.fw-bold {
  font-size: 36px;
}

.heading {
  background-color: var(--secondary-color);
  max-width: 1440px;
  height: 550px;
  padding-top: 100px;
  text-align: center;
}

.btn-style,
.btn-style-2:hover {
  background: var(--primary-color);
  color: white;
}

.btn-style:hover,
.btn-style-2 {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

div.col-md-6 p {
  text-align: justify;
}

.my-image {
  max-width: 450px;
}

div.fbox-icon img {
  max-width: 200px;
}

div.work-inquiry {
  background-color: var(--secondary-color);
}

.social-media a i {
  border-radius: 50%;
  transform: scale(1.5);
  margin: 20px 30px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 15px;
  color: var(--primary-color);
}

@media (max-width: 600px) {
  h1 {
    font-size: 48px;
  }

  p.fw-bold {
    font-size: 30px;
  }

  h2 {
    font-size: 35px;
  }
}
